
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center>
    <h1>Student</h1>
    <hr style="width: 25%">
    <br><br>
    <form action="/student/add" method="POST">
        <input style="width: 300px" type="text" name="id" placeholder="Enter Id"><br>
        <input style="width: 300px" type="text" name="name" placeholder="Enter Name"><br>
        <input style="width: 300px" type="text" name="subject" placeholder="Enter Subject"><br>
        <input type="submit" value="Add">
    </form>
    <br><br>
    <hr>

    <br>
    <hr>
    <br><br>

    <form action="/student/" method="GET">
        <input style="width: 300px" type="text" name="key" placeholder="Student Id">
        <input type="submit" value="Search">
    </form>
</center>

</body>
</html>